body {background-color: #f3e7de;}
hr {
    border-style:none;
    border-top:dotted ;
    border-color: black;
    border-width: 5px; ;
    
height: 0px;
width: 100px;} 
h1 { 
    color: rgb(71, 48, 4);
}
h3{
    color: rgb(245, 68, 106);
}